
@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
@import url(https://fonts.googleapis.com/css?family=Advent+Pro:400,200,700);

body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
	font-size: 16px;
	
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}


.navbar {	  
    border: 0;
    border-radius: 0;     
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
    position: fixed;    
    width: 100%; 
    z-index: 100;

}
.navbar-default{
	background-color: #FFFFFF;
    background:transparent;
    border:none !important;
}

.nav.navbar-nav.navbar-right li a {
    color: #ffffff;
}
.navbar li { color: #000 } 

.navbar-nav li a:hover {
    color: #1abc9c !important;
}


.bg-1 { 
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ),url("../image/bg1.jpg");
		background-repeat: no-repeat;  
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; 	
		background-position:center; 
		color: #ffffff;     
}


.bg-2 { 
    background-color: #1abc9c ; 
    color: #ffffff;
}


.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

.bg-5 { 
    background-color: #1abc9c;
    color: #ffffff;
}
.aboutme
{
	text-align: justify;
    text-justify: inter-word;
    padding-left: 90px;
    padding-right: 90px;    
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    line-height: 1.6;    
    font-size: 1.4vw;
}
hr{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #000, #fff, #000);
}
.margin {margin-bottom: 45px;}

/*BUTTONS*/
.ghost-button {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #009688; 
	border: 1px solid #009688;
	font-size: 15px; 	
	display: inline-block;
	text-decoration: none; 
	width: 140px;
	height: 50px;	
}
.ghost-button:hover, .ghost-button:active {
color:#fff;
background:#009688;
}



/*Sliding*/
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #2980b9;
}

.carousel-indicators li {
    border-color: #2980b9;
}

.carousel-indicators li.active {
    background-color: #2980b9;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: bold;
    margin: 70px 0;
    color: #ffffff;
}

.item span {
    font-style: normal;
    color: #ffffff;
}


/*contact section*/

/*@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* entypo *//*
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}*/

html, body {
  margin: 0;
  background-color: #74d4b3;
}

section #services {
  text-align: center;
  transform: translatez(0);
}
section #services h2 {
  padding-top: 0px;
  color: #000;
  font-size: 2.4em;
  font-family: 'Raleway Dots', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
section #services li {
  width: 120px;
  height: 140px;
  display: inline-block;
  margin: 20px;
  list-style: none;
}
section #services li div {
  width: 120px;
  height: 120px;
  color: #74d4b3;
  font-size: 3.4em;
  text-align: center;
  line-height: 120px;
  background-color: #fff;
  transition: all 0.5s ease;
}
section #services li div:hover {
  transform: rotate(360deg);
  border-radius: 100px;
}
section #services li span {
  width: 120px;
  height: 20px;
  display: block;
  padding: 15px 0px;
  color: #000;
  font-family: 'Advent Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  text-align: center;
}




