body {
    font: 20px "Montserrat", sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
	font-size: 16px;
	
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {	  
    border: 0;
    border-radius: 0;     
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 5px;
    position: fixed;    
    width: 100%; 
    z-index: 100;

}
.navbar-default{
	background-color: #FFFFFF;
    background:transparent;
    border:none !important;
}

.nav.navbar-nav.navbar-right li a {
    color: #ffffff;
}
.navbar li { color: #000 } 

.navbar-nav li a:hover {
    color: #1abc9c !important;
}


.bg-1 { 
		background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ),url("../image/bg1.jpg");
		background-repeat: no-repeat;  
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover; 	
		background-position:center; 
		color: #ffffff;     
}


.bg-2 { 
    background-color: #1abc9c ; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 { 
    background-color: #2f2f2f;
    color: #ffffff;
}

.bg-5 { 
    background-color: #1abc9c;
    color: #ffffff;
}

.margin {margin-bottom: 45px;}

/*BUTTONS*/
.ghost-button {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #009688; 
	border: 1px solid #009688;
	font-size: 15px; 	
	display: inline-block;
	text-decoration: none; 
	width: 140px;
	height: 50px;	
}
.ghost-button:hover, .ghost-button:active {
color:#fff;
background:#009688;
}